.app-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-width: 100vw;
}

.components {
  margin-left: 10vw;
  width: 80%;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1; /* Fa espandere la parte centrale */
  padding: 2vw; /* opzionale */
  border-radius: 12px;
  background-color: rgb(22, 21, 21, 0.6);
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.backbuttonDiv {
  width: 100%;
  display: flex;
}

/* Stile per schermi leggermente più stretti */
@media (max-width: 1140px) {
  .components {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}