.app-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-width: 80vw;
}

.components {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1; /* Fa espandere la parte centrale */
  padding: 2rem; /* opzionale */
  border-radius: 12px;
  background-color: rgb(22, 21, 21);
  opacity: 60%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}