.card {
  display: flex;
  justify-content: space-between;
  align-items: center; /* bottone centrato verticalmente */
  border-radius: 12px;
  background-color: rgb(22, 21, 21, 0.8);
  color: #5fbfbb;
  margin-bottom: 2vh;
  transition: transform 0.2s ease-in;
  padding: 1vw;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1; /* prende tutto lo spazio disponibile */
}

.card .title {
  text-align: left;
  font-size: x-large;
  margin-bottom: 0.5vh;
}

.card .description {
  margin-top: 4vh;
  margin-left: 1vw;
  text-align: left;
  font-size: medium;
}

.card .buttonImg {
  width: 3vw;
  height: 5vh;
  background-color: rgb(22, 21, 21);
  border: 3px solid #5fbfbb;
  border-radius: 12px;
  padding: 1vh;
  cursor: pointer;
}

.card .buttonImg:hover {
  background-color: #161a25;
  border: 3px solid white;
}

.card .cardimg {
  height: 10vh;
  margin-right: 2vh;
  border-radius: 100%;
}
