.card {
  width: 90%;
    min-height: 8vh; /* <<< Altezza minima */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; /* bottone centrato verticalmente */
  border-radius: 12px;
  background-color: rgb(22, 21, 21, 0.8);
  color: #5fbfbb;
  margin-bottom: 2vh;
  transition: transform 0.2s ease-in;
  animation: slideUpFadeIn 0.3s ease-out;
  padding: 1vw;
  cursor: pointer;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
}

.card.flipped .card-front {
  transform: rotateX(180deg);
}

.card.flipped .card-back {
  transform: rotateX(0deg);
}

.card-front, .card-back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: absolute;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}

.card-front {
  transform: rotateX(0deg);
}

.card-back {
  transform: rotateX(-180deg);
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1; /* prende tutto lo spazio disponibile */
}

.card .title {
  text-align: left;
  font-size: x-large;
  margin-bottom: 0.5vh;
}

.card .description {
  background-color: black;
  border-radius: 12px;
  padding: 1vh;
  margin-top: 3vh;
  margin-left: 1vw;
  text-align: left;
  font-size: medium;
}

.card a{
  width: 5%;
}

.card .buttonImg {
  width: 100%;
  height: 100%;
  background-color: rgb(22, 21, 21);
  border: 3px solid #5fbfbb;
  border-radius: 12px;
  padding: 1vh;
  cursor: pointer;
}

.card .buttonImg:hover {
  background-color: #161a25;
  border: 3px solid white;
}

.card .cardimg {
  height: 10vh;
  margin-right: 2vw;
  border-radius: 0;
}

@keyframes slideUpFadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {

  .card a {
    min-width: 10vw;
    height: 50%;
    margin-bottom: 1vh;
  }


}


