ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    right: 0;
    display: flex;
    gap: 10px;               /* Spazio tra voci */
}

ul button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: #161a25;
    color: #5fbfbb;
    border: 3px solid #5fbfbb;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;                  /* Flex container per testo + icona */
    align-items: center;           /* Centra verticalmente */
    gap: 10px;                     /* Spazio tra testo e icona */
    cursor: pointer;
}

ul button:hover {
    color: white;
    border: 3px solid white;
}

.ico {                    /*icone dei pulsanti*/
  margin: 0;
  padding: 0;
}