nav {
  width: 100% ;  /* 80vw #root*/
  height: auto;
  background: rgb(22, 21, 21);
  opacity: 90%;                      
  display: flex;
  justify-content: space-between;
  align-items: center;              
  box-sizing: border-box;
  z-index: 2;
  align-self: center;
  border-radius: 0 0 12px 12px;
  margin-bottom: 1vh;
  padding: 1vh 2vw
}

.logo {                   /*logo sulla navbar*/
  width: 40%;
  padding: 0;
  border-radius: 12px;
}

ul {
    padding: 0;
    list-style-type: none;
    right: 0;
    display: flex;
    gap: 10px;               /* Spazio tra voci */
}

ul button {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: rgb(22, 21, 21);
    color: #5fbfbb;
    border: 3px solid #5fbfbb;
    border-radius: 12px;
    padding: 10px 10px;
    display: flex;                  /* Flex container per testo + icona */
    align-items: center;           /* Centra verticalmente */
    gap: 1vh;                     /* Spazio tra testo e icona */
    cursor: pointer;
}

ul button:hover {
    color: white;
    border: 3px solid white;
}

.ico {                    /*icone dei pulsanti*/
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

/* Stile per schermi leggermente più stretti */
@media (max-width: 1140px) {


}